@model KantanBlog001.Models.Comment

@{
    ViewData["Title"] = "Delete";
}

<h1 class="tcreate">コメント削除ページ</h1>


<h3 class="tcreate">本当にコメントを削除しますか？</h3>
<div class="tcreate">

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Create_Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Create_Time)
        </dd>

    </dl>

    <form asp-action="Delete">
        <span><input type="submit" value="削除" class="input-style2"></span>
        <span><a asp-action="Index" class="input-style3">コメント管理に戻る</a></span>
    </form>
</div>