@model KantanBlog001.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Create_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Create_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Update_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Update_Time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
